.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.icon {
  width: 4px;
  height: 8px;
  transform: rotate(90deg);
  transform-origin: center center;
  transition: transform 0.2s ease-in-out;
  fill: rgba(59, 75, 104, 0.4);
}

.folded {
  transform: rotate(0);
}
